body {
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h3 {
        padding-left: 1em;
}

table {
        margin-top: 2em;
        margin-bottom: 3em;
        margin-left: 1em;
        margin-right: 1em;
        border: none;
        outline: none;
        border-collapse: collapse;
}

td {
        padding-left: 1em;
        padding-right: 1em;
        border: none;
        outline: none;
}
